django>=4.2
celery
redis
langchain
langgraph
langgraph-supervisor
langchain-community
langchain-core
langchain-text-splitters
langchain-openai
chromadb
pydantic
pytest
pytest-django
pytest-mock
freezegun

python-dotenv